
<div class="indexHeader col-sm-12 col-md-4">
  <a href="/#/"><h1>Lewis Engel</h1></a>
</div>

<div class="worksBox col-sm-12 col-md-4">
  <a href="/#/about" class="menuItems"><span class="colorFive">About</span></a>
  <a href="/#/contact" class="menuItems"><span class="colorSix">Contact</span></a>

  <a href="/#/text" class="menuItems"><span class="colorOne">Emergent Possibilities</span></a>
  <a href="/#/magnet" class="menuItems"><span class="colorTwo">Magnetic Attractions</span></a>
  <a href="/#/gauge" class="menuItems"><span class="colorThree">Meaningless Measures</span></a>
  <a href="/#/animation" class="menuItems"><span class="colorFour">Emergence over Time</span></a>
</div>

<div id="titleGiffBox" class="hidden-xs col-sm-12 col-md-8">
    <a href="/#/text"><img class="titleGiff" src="https://s3-us-west-2.amazonaws.com/lewisengelart.com/TextAniFull/titlePage1.gif" alt="Title giff!!!!"></a>
</div>
