<div class="indexHeader col-md-3">
  <a href="/#/"><h1>Lewis Engel</h1></a>
  <div class="worksBox">
    <a href="#/add"><span class="colorSix">Add</span></a>
    <a href="#/textlist"><span class="colorSix">Text List</span></a>
    <a href="/logout"><span class="colorSix">Log Out</span></a>
    <br>
    <br>
  </div>
</div>

<div class="col-md-9">
<br>
<br>
<br>
<br>
    <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>AWS Localtion</th>
      <th>Date Created</th>
      <th>Phrase</th>
      <th>Keywords</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="gauge in gauges">
      <td><img ng-src = "{{gauge.small}}"></td>
      <td>{{gauge.title}}</td>
      <td>{{gauge.small}} <br> / <br> {{gauge.large}}  <br> / <br> {{gauge.detail}}</td>
      <td>{{gauge.date_created}}</td>
      <td>{{gauge.prhase}}</td>
      <td>{{gauge.keywords}}</td>
      <td><a ng-href="#/editgauge/{{gauge._id}}"><span class="colorSix">Edit</span></a><button ng-click="delete(gauge)"  class="colorThree">Delete</button></td>
    </tr>
  </tbody>
</table>


</div>
<!-- might continue to add more inputs to match needs for other types of work.
    This form will be used to add any type of work, but initially only the text model will be created.  -->
