<div class="indexHeader col-md-3">
  <a href="/#/"><h1><span class="hidden-xs">Lewis Engel</span></h1></a>
</div>

<div class="worksBox hidden-xs col-sm-6 col-md-3">
  <a href="/#/about" class="menuItems"><span class="colorFive">About</span></a>
  <a href="/#/contact" class="menuItems"><span class="colorSix">Contact</span></a>

  <!-- <a href="/#/text" class="menuItems"><span class="colorOne">Emergent Possibilities</span></a> -->
  <!-- <a href="/#/magnet" class="menuItems"><span class="colorTwo">Magnetic Attractions</span></a> -->
  <!-- <a href="/#/gauge" class="menuItems"><span class="colorThree">Meaningless Measures</span></a> -->
  <!-- <a href="/#/animation" class="menuItems"><span class="colorFour">Emergence over Time</span></a> -->
</div>

<!-- <div class="workingHeaders col-sm-12 col-md-8">
  <h1><span class="colorThree">Coming Soon!!!</span></h1>
</div> -->

<div class="gridContainer col-sm-12 col-md-9">

  <!-- GRID -->
  <div ng-hide = "singleChosenGauge" class="gridBox">
      <div  class="nonDraggableImage smallGrid col-sm-4" ng-repeat="gauge in gauges">
          <img id="{{gauge.title}}" class="smallGridImages" ng-src="{{gauge.small}}" alt="{{gauge.title}}" ng-mouseover="hoverIn(gauge)" ng-mouseleave = "hoverOut()" ng-click="startSliderAtIndex($index)">
      </div>
  </div>

  <!-- CAROSEL -->
  <div id="Carousel" class = "col-sm-12 col-md-9" ng-show = "singleChosenGauge">

  <!-- Main CAROUSEL -->
    <div class="slider">
      <div ng-show="!detail" arrow-navigate-gauge>

        <a class="arrow prev hidden-xs"  ng-click="prevSlideGauge()"></a>
        <div ng-repeat="gauge in gauges"  ng-hide="!isCurrentSlideIndexGauge($index)">
            <img  class = "nonDraggableImage slide " ng-src="{{gauge.large}}" alt="{{gauge.large}}" ng-click = "hideSlider()" ng-keyup="$event.keyCode === 39" ng-keyup="$event.keyCode === 37">

            <!-- <div keypress-events></div>    href="#/gauge"   -->


        <!-- </div> -->
            <!-- <div class="caroselDeets" ng-cloak >
              <p><span>Title: </span>{{gauge.title}}</p>
              </span>
            </div> -->
        </div>
        <a class="arrow next hidden-xs"   ng-click="nextSlideGauge()"></a>

      </div>
  </div>
</div>
