/** {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
}



/*TITLE*/
.indexHeader{


}



.greyTitle {
    color: lightgray;
    margin-left: 15px;
}

.indexHeader a:hover{
  text-decoration: none;
}
.indexHeader a:link{
  text-decoration: none;
}

  .indexHeader h1{
    font-family: Gallery;
    color: #252D32;
    margin-right: 10px;
    font-size: 20em;
  }

/*SECONDARY HEADERS*/
.workingHeaders {
    display: inline-block;
}

.workingHeaders h1 {
    font-family: Gallery;
    margin-right: 10px;
    font-size: 30em;
}

.workingHeaders p {
    font-family: Gallery;
    margin-right: 10px;
    font-size: 10em;
}

/*TITLE GIFF*/

.titleGiff {
    margin: auto;
    height: 1000px;
    width: 1000px;
    display: block;
    vertical-align: top;
    /*visibility: hidden;*/
}


/*MENU OPTIONS*/

.worksBox{
  /*margin: 25px 0 0 0;*/
  display: block;
  /*position: fixed;*/
}

  .worksBox a{
    margin: 5px 0 0 0;
    display: block;
    font-size: 10em;
    /*color: #8A759E;
    font-family: Gallery;*/
  }
  .worksBox a:hover{
    text-decoration: none;
  }
  .worksBox a:active{
    text-decoration: none;
  }
  .colorOne{
    color: #DE9483;
    font-weight: bolder;
  }
  .colorTwo{
    color: #AA6872;
    font-weight: bolder;
  }
  .colorThree{
    color: #762937;
    font-weight: bolder;
  }
  .colorFour{
    color: #3F1D0B;
    font-weight: bolder;
  }
  .colorFive{
    color: #8A759E;
    font-weight: bolder;
  }
  .colorSix{
    color: #7a5fad;
    font-weight: bolder;
  }

  .colorSeven {
      color: lightgray;
      font-weight: bolder;
  }

  /*IMAGE GRID*/
.gridBox {
    /*margin: auto;*/
}
.singleDeets {
    margin: 20px;
}
.singleDeets p{
    color: #455440;
    font-size: 30px;
}
.singleDeets span{
    color: #6D95A9;
}

 .smallGrid {
    /*height: 1000px;*/
    /*width: 1000px;
    display: block;
    margin:10px auto;
    vertical-align: top;*/
    padding-top: 50px;
    text-align: center;
  }

  .smallGridImages {
      display: inline-block;
  }

/* 768 BOOTSTRAP SM <*/
/*@media (min-width: @screen-sm-min) {*/
  @media (min-width:768px)
  /*and (max-width: 991px) */
  {

      .indexHeader h1{
        font-family: Gallery;
        /*color: blue;*/
        margin: 20px 20px 0px 15px;
        font-size: 3em;
      }

      #titleGiffBox {

      }

      .titleGiff {
          margin: 30px auto;
          height: 1000px;
          width: 1000px;
          display: block;
          vertical-align: top;
          visibility: visible;
      }

      /*MENU OPTIONS*/
      .workingHeaders {
          display: block;
      }

      .workingHeaders h1 {
          font-family: Gallery;
          margin-right: 10px;
          font-size: 100pt;
      }

      .workingHeaders p {
          font-family: Gallery;
          margin-right: 10px;
          font-size: 50pt;
      }


      .worksBox{
        margin: 15px;
        display: inline-block;
        /*position: fixed;*/
      }

        .worksBox a {
          /*margin: 5px 0 0 0;*/
          display: inline;
          font-size: 2em;
          /*color: #8A759E;
          font-family: Gallery;*/
        }

        .menuItems {
            /*display: inline;*/
        }

        .searchTermsBox{
            margin: 5px;
        }

        ::-webkit-input-placeholder {
           color: #8A759E;
           /*font-family: Gallery;*/
        }

        :-moz-placeholder { /* Firefox 18- */
           color: #8A759E;
           /*font-family: Gallery;*/
        }

        ::-moz-placeholder {  /* Firefox 19+ */
           color: #8A759E;
           /*font-family: Gallery;*/
        }

        :-ms-input-placeholder {
           color: #8A759E;
           /*font-family: Gallery;*/
        }

        .gridContainer {
        }

        .gridBox {

        }

        .smallGrid {
          /*height: 300px;*/

          width: 300px;
          margin: 10px;
          display: flex;
          display: inline-block;
          vertical-align: top;
        }

        .smallGridImages {
            width: 250px;
            height: auto;
            object-fit: contain;

            max-height: 100%;
            max-width: 100%;
        }

        .singleChosen {
            /*margin-top: 500px;*/
        }


        #totals{
          display: block;
          margin: 20px 0 0 0;
        }

        #resultsCount{
          display: inline-block;
          vertical-align: top;
          color: #455440;
          /*font-family: Gallery;*/
        }
        #totalCount{
          display: inline-block;
          vertical-align: top;
          color: #3A4C3F;
          font-weight: bold;
          /*font-family: Gallery;*/
        }





        /*slider tutorial stuff*/

        /*TEXTURE PAGE STUFF*/


        .caroselDeets{

            margin-top: 85px;
            width: 150px;
        }
        .caroselDeets p{
            color: #455440;
        }
        .caroselDeets span{
            color: #6D95A9;
        }

        .singleDeets {
            margin: 0px 5px 10px 10px;
        }

        .singleDeets p{
            color: #455440;
            font-size: 12px;
        }


        .slider {
            text-align: center;
        }


        .slide {
            display: inline-block;
            max-width: 100%;
            max-height: 100%;
            }


        .nonDraggableImage{
            -webkit-user-drag: none;
        }


        .arrow {
            position: absolute;
            z-index: 1002;
            display: block;
            top: 50%;
            margin-top: -35px;
            width: 36px;
            height: 71px;
            cursor: pointer;
        }

        .prev {
            /*opacity: 0.2;*/
            left: 20px;
            background-image: url(prevDark.png);
            transition: 0.2s linear all;
        }

        .next {
            /*opacity: 0.2;*/
            right: 20px;
            background-image: url(nextDark.png);
            transition: 0.2s linear all;
        }

        .prev:hover {
            opacity: 1;
            background-image: url(prevLight.png);
        }

        .next:hover {
            opacity: 1;
            background-image: url(nextLight.png);
        }


        /*ADD PAGE ADD PAGE ADD PAGE ADD PAGE ADD PAGE*/

        .form input{
          display: block;
        }

  }

@media (min-width: 992px) {
  /*992 < BOOTSTRAP M and UP */
/*@media (min-width: @screen-md-min) {*/

      .titleGiff {
        margin: 100px;
        /*height: 600px;*/
        /*width: 600px;*/
        display: inline-block;
        vertical-align: top;
        visibility: visible;
      }


      /*HEADERS HEADERS HEADERS HEADERS HEADERS HEADERS*/

      .indexHeader{
        /*clear: both;
        width: 100%;*/
        display: inline-block;
        margin: 0 0 40px 0;

      }
      .indexHeader a:hover{
        text-decoration: none;
      }
      .indexHeader a:link{
        text-decoration: none;
      }

        .indexHeader h1{
          font-family: Gallery;
          /*color: black;*/
          /*font-weight: bold;*/
          font-size: 3em;
          margin-right: 10px;
        }

      .workingHeaders h2 {
        font-family: Gallery;
        font-size: 1em;
        color: #a5a5a5;
      }

      .worksBox{
        margin: 120px 0 0;
        position: fixed;
        display: block;
      }
        .worksBox a{
          margin: 5px 0 0 15px;
          display: block;
          color: #8A759E;
          font-size: 1.2em;
          font-family: Gallery;
        }
        .worksBox a:hover{
          text-decoration: none;
        }
        .worksBox a:active{
          text-decoration: none;
        }
        .colorOne{
          color: #DE9483;
          font-weight: bolder;
        }
        .colorTwo{
          color: #AA6872;
          font-weight: bolder;
        }
        .colorThree{
          color: #762937;
          font-weight: bolder;
        }
        .colorFour{
          color: #3F1D0B;
          font-weight: bolder;
        }
        .colorFive{
          color: #8A759E;
          font-weight: bolder;
        }
        .colorSix{
          color: #7a5fad;
          font-weight: bolder;
        }



      /*TEXTURES PAGE TEXTURES PAGE TEXTURES PAGE TEXTURES PAGE TEXTURES PAGE TEXTURES PAGE*/

      .searchTermsBox {
          margin: 300px 0 0 0;
          position: fixed;
          display: block;
          padding: 30px;
      }

      .searchBox input{
        margin-top: 20px;
        border: none;
      }

      ::-webkit-input-placeholder {
         color: #8A759E;
         /*font-family: Gallery;*/
      }

      :-moz-placeholder { /* Firefox 18- */
         color: #8A759E;
         /*font-family: Gallery;*/
      }

      ::-moz-placeholder {  /* Firefox 19+ */
         color: #8A759E;
         /*font-family: Gallery;*/
      }

      :-ms-input-placeholder {
         color: #8A759E;
         /*font-family: Gallery;*/
      }

      .gridBox {
          display: inline-block;
      }

      .smallGrid {
        /*height: 300px;
        width: 300px;
        display: inline-block;
        vertical-align: top;*/
      }


      #totals{
        display: block;
        margin: 20px 0 0 0;
      }

      #resultsCount{
        display: inline-block;
        vertical-align: top;
        color: #455440;
        /*font-family: Gallery;*/
      }
      #totalCount{
        display: inline-block;
        vertical-align: top;
        color: #3A4C3F;
        font-weight: bold;
        /*font-family: Gallery;*/
      }


      .searchables{
        margin-top: 25px;
        width: 150px;
        /*position: fixed;*/
      }
      .searchables p{
        color: #455440;
        /*display: inline;*/
      }
      .searchables span{
        color: #6D95A9;
      }
      .attributes p{
        font-size: 10px;
      }

      /*slider tutorial stuff*/

      /*TEXTURE PAGE STUFF*/


      .caroselDeets{
          position: absolute;
          left: -250px;
          top: 500px;
          text-align: left;
          /*margin-top: 85px;
          width: 150px;*/
      }
      .caroselDeets p{
          color: #455440;
      }
      .caroselDeets span{
          color: #6D95A9;
      }




      .slider {
          /*width: 1000px;*/
          /*height: 1000px;*/
          /*overflow: hidden;
          position: relative;*/
          /*padding: 20px;*/
          /*margin-top: 20px;*/
      }

      /*.imageContainer {
          height: 1000px;
      }

      .imageContainer img {
          margin-left: auto;
          margin-right: auto;
      }*/

      /*.slide {
          margin: auto;
          max-width: 100%;
          max-height: 100%;*/
          /*width: 900px;*/
          /*display: block;*/
          /*position: absolute;*/
          /*top: 0px;*/
          /*left: 150px;*/
          /*height: 800px;
          width: 800px;*/
      }


      .nonDraggableImage{
          -webkit-user-drag: none;
      }


      .arrow {
          position: absolute;
          z-index: 1002;
          display: block;
          top: 50%;
          margin-top: -35px;
          width: 36px;
          height: 71px;
          cursor: pointer;
      }
      .detailArrow {
          position: absolute;
          z-index: 1002;
          display: block;
          top: 35%;
          margin-top: -35px;
          width: 36px;
          height: 71px;
          cursor: pointer;
      }


      .prev {
          /*opacity: 0.2;*/
          left: 20px;
          background-image: url(prevDark.png);
          transition: 0.2s linear all;
      }

      .next {
          /*opacity: 0.2;*/
          right: 20px;
          background-image: url(nextDark.png);
          transition: 0.2s linear all;
      }

      .prev:hover {
          opacity: 1;
          background-image: url(prevLight.png);
      }

      .next:hover {
          opacity: 1;
          background-image: url(nextLight.png);
      }


      /*ADD PAGE ADD PAGE ADD PAGE ADD PAGE ADD PAGE*/

      .form input{
        display: block;
      }




  }

  @media (min-width: 1068px) {
      .worksBox {
          margin-top: 80px;
      }
  }*/
